attrs==21.2.0
backports.entry-points-selectable==1.1.0
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
cfgv==3.3.0
chardet==4.0.0
cryptography==3.4.7
dataclasses==0.8
dill==0.2.9
distlib==0.3.2
filelock==3.0.12
future==0.16.0
gapic-google-cloud-datastore-v1==0.15.3
google-api-core==0.1.4
google-api-python-client==1.7.4
google-auth==1.28.0
google-auth-httplib2==0.1.0
google-cloud-core==0.28.1
google-cloud-datastore==1.4.0
google-cloud-storage==1.6.0
google-crc32c==1.1.2
google-gax==0.15.16
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.36.1
grpcio-tools==1.13.0
httplib2==0.19.0
identify==2.2.11
idna==2.10
importlib-metadata==4.6.1
importlib-resources==5.2.0
kubeque==3.0
nodeenv==1.6.0
oauth2client==3.0.0
packaging==20.9
platformdirs==2.0.2
ply==3.8
pre-commit==2.13.0
proto-google-cloud-datastore-v1==0.90.4
protobuf==3.15.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydantic==1.8.2
pyOpenSSL==21.0.0
pyparsing==2.4.7
pytz==2021.1
PyYAML==5.4.1
requests==2.25.1
rsa==4.7.2
six==1.15.0
-e git+git@github.com:broadinstitute/sparklespray.git@9f097e7321078a3cc93d7e5e3538ab6955836c1b#egg=sparklespray
termcolor==1.1.0
toml==0.10.2
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.4
virtualenv==20.6.0
zipp==3.5.0
